@font-face {
    font-family: MCbold;
    src: url("MinecraftBold-nMK1 (1).otf");
}

body {
    background-color: #000413;
    white-space: nowrap;
    font-family: MCbold;
    overflow-x: hidden;
}

#lunarLogo {
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, 50%);
    transition: 1s;
}
#LunarText {
    opacity: 0;
    transition: 1s;
    color: white;
    position: absolute;
    right: 50%;
    top: 650px;
    transform: translate(50%, 0%);
    font-size: 500%;
}
#LunarText2 {
    opacity: 0;
    transition: 1s;
    color: white;
    position: absolute;
    right: 50%;
    top: 650px;
    transform: translate(50%, 120%);
    font-size: 400%;
}

#welcomediv {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0%;
    height: 200%;
    overflow: hidden;
    background: linear-gradient(rgb(0, 19, 48), rgb(10, 0, 19));
    transition: 1s;
}
#welcometext {
    position: relative;
    text-align: center;
    font-size: max(10px, min(18px, calc(100vw * 16px/400)));
    white-space: wrap;
    top: 0%;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

@media only screen and (max-width: 1080px) {
    #lunarLogo {
        transform: translate(-50%, 0%);
    }
    #LunarText {
        opacity: 0;
        transition: 1s;
        color: white;
        position: absolute;
        right: 50%;
        top: 512px;
        transform: translate(50%, -70%);
        font-size: 400%;
        font-size:10vw;
    }
    #LunarText2 {
        opacity: 0;
        transition: 1s;
        color: white;
        position: absolute;
        right: 50%;
        top: 512px;
        transform: translate(50%, 50%);
        font-size: 400%;
        font-size:8vw;
    }
}